.intro{
  background: url('./intro1.jpg') center no-repeat; 
  background-size: cover;
  
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.sup_title{
  
}